.welcome-screen {
    @extend .d-flex;
    @extend .flex-column;
    // @extend .align-items-center;
    @extend .justify-content-center;
    @extend .min-vh-100;
    @extend .w-100;
    background-image: url("../../public/assets/landing.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba($dark, 0.2);
    background-blend-mode: overlay;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
