// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import "remixicon/fonts/remixicon.css";
@import 'toastify-js/src/toastify.css';
// Variables
@import "variables";
@import "sidebar";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "button";

// Customize
@import './welcome';
@import './docs';
@import './callout';


.garis {
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    margin-bottom: 1rem;
}
